# Propriedades:
#   name: Nome da conta de serviço
#   displayName: Nome de exibição da conta (opcional)
#   roles: Lista de papeis da conta
#   labels: (opcional) Labels da conta de serviço

resources:
  # Conta de serviço
  - name: svc-{{ properties['name'] }}
    type: iam.v1.serviceAccount
    properties:
      {% if 'labels' in properties %}
      labels: {{ properties['labels'] }}
      {%endif%}
      accountId: {{ properties['name'] }}
      displayName: {{ properties['displayName'] or properties['name'] }}

  # Acessos da conta de serviço
  {% for role in properties['roles'] %}
  - name: svc-{{ properties['name'] }}-role-{{ role.replace('roles/', '').replace('.', '-') }}
    type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
    metadata:
      dependsOn:
        - svc-{{ properties['name'] }}
    properties:
      resource: {{ env['project'] }}
      role: {{ role }}
      member: serviceAccount:$(ref.svc-{{ properties['name'] }}.email)
  {% endfor %}

outputs:
  - name: name
    value: {{ properties['name'] }}
  - name: email
    value: $(ref.svc-{{ properties['name'] }}.email)